.offcanvas {
  --bs-offcanvas-width: 50rem;
  --bs-border-width: 0;
  .offcanvas-header {
    button {
        font-size: 2em;
    }
  }
}

.container-fluid {
  .navbar-brand {
    img {
      width: 125px;
    }
  }
  .navbar-toggler-icon {
    width: 3em;
    height: 3em;
  }
}
