.hero-container {
    .hero-content {
        title {
            margin: 1rem -2.5rem;
        }
    }
    .hero-cta {
        button {
            width: max-content;
            font-size: 3rem;
            padding: 1rem;
            margin: 2rem;
            font-weight: 700;
            color: #ADB5BD;
            background-color: #212529;
            border-color: #ADB5BD;
            transform: scale(1);
            transition: all 0.2s ease-in-out;
        }

        button:hover {
            color: #212529;
            background-color: #ADB5BD;
            transform: scale(1.1);
        }
    }
}